img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.card{
    
    background-color: pink;
    color:black ;
    height:250px ;
    width: 250px;
padding-top:10pxpx;
text-align: center;
margin: 30px;
border-radius: 20px;
box-shadow: 5px 5px 7px 7px lightgreen;

}
p{
    text-shadow: 4px 4px 5px red;
}
.id{
    display: inline-block;
}
.header{
    background-color: aqua;
    color:black ;
    box-shadow: 5px 5px 6px 7px black;
    border-radius: 5px;

}
.header>ul{
    width: 80%;
    margin: auto;


}
.header>ul>li{
    display: inline-block;
    margin-left: 60px;
    font-size: 20px;
    font-weight: 900;

}
.header>ul>li:hover{
    color: lightgreen;
}









